.chips {

    &-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-right: .5em;
    }
}

%chip {
    padding: 5px 10px;
    margin: 0 1px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
}

.chip {
    @extend %chip;
}

.chip-coral {
    @extend %chip;
    background-color: coral;
}

.chip-yellow {
    @extend %chip;
    background-color: var(--color-secondary, #eec13b);
}

.chip-blue {
    @extend %chip;
    background-color: var(--color-primary, #71b5f8);
}

.chip-orange {
    @extend %chip;
    background-color: var(--color-accent, #ffa042);
}

.chip-ocean {
    @extend %chip;

    background-color: #cfe3e2;
}