.chips {

    &-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-right: .5em;
    }
}

%chip {
    padding: 5px 10px;
    margin: 0 1px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
}

.chip {
    @extend %chip;
}