.pill {
    background-color: rgb(0, 166, 255);
    background-color: #eec13b;
    width: 35px;
    height: 30px;
    border-radius: 50% 0 50% 50%;
    padding: .55em .5em .5em .7em;
    display: inline-block;
    border-right: 2px solid #ffffff;

    @media (prefers-color-scheme: dark) {
        background-color: #043a26;
        border-right: 2px solid #03271f;

    }

}