.bg {
    background-color: white;

    &-yellow {
        background-color: #eec13b;
    }

    &-blue {
        background-color: #71b5f8;
    }

    &-orange {
        background-color: #ffa042;
    }
}