:root {
    --color-primary: #71b5f8;
    --color-secondary: #ffd350;
    --color-accent: #ffa042;
    --color-accent-text: #cf8234;
    --color-coral: coral;
    --color-alert: #f64200;
    --color-background: #ffffff;
    --color-text: #3b3b3b;
    --color-black: #1b1b1b;

    --darkmode-color-text: #719456;
}