.jsa-none {
	dt {
		a {
			@media (prefers-color-scheme: dark) {
				background-color: transparent;
				color: var(--darkmode-color-text, #719456);
			}
		}
	}
}



.jsa-theme-core,
.jsa-theme-minimal {

	dd {
		div {
			padding: 0 2rem 0 1rem;
		}
	}
}