.jsa-core {
  dt {
    display: flex;
    align-items: center;
    position: relative;
  }

  dd {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;

    &.show {
      padding: 1em;
      max-height: 100%;
    }
  }
}